[submodule "How-to-combine-similarity-metrics-for-ReID-problem"]
	path = How-to-combine-similarity-metrics-for-ReID-problem
	url = https://github.com/chequanghuy/How-to-combine-similarity-metrics-for-ReID-problem
